name: Ansible CI

on:
  push:
    branches: [ "main" ]

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: CI Trigger Check
        run: echo "GitHub Actions pipeline triggered successfully"

